{{ elements.field_hero }}
<section id="blog-details-page">
	<div class="container">
		<div class="row">
			<div class="col-md-9 mx-auto blog-details wow fadeInUp">
				<h4>{{ label }}</h4>
				<div class="blog-info">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					{{ date }}
					<i class="fa fa-user" aria-hidden="true"></i>
					{{ author_name }}
				</div>
				{{ elements.field_image }}
				<div class="blog-details-description">
					{{ elements.body }}
				</div>
			</div>
		</div>
	</div>
</section>
