<section id="get-in-touch" class="wow fadeInLeft">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 contact-form">
				<h4>GET IN TOUCH</h4>
				{{ content.field_contact_form }}
			</div>
			<div class="col-md-6 col-sm-12 contact-details wow fadeInRight">
				{{ content.field_description }}
				<div class="location">
					<i class="fa fa-map-marker"></i>
					<h4>{{ content.field_company }}</h4>
					<p>{{ content.field_address }}</p>
				</div>
				<div class="phone">
					<i class="fa fa-phone"></i>
					<p>{{ content.field_telephone }}</p>
				</div>
				<div class="mail">
					<i class="fa fa-envelope"></i>
					<p>{{ content.field_email }}</p>
				</div>
				<div class="timing">
					<i class="fa fa-clock-o"></i>
					<p>{{ content.field_business_hours }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
